<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% getCookie %>


        <div class="pa">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-4 pb-4 ps-4 pe-4">
                <div class="container-fluid" style="margin-left: 3%;">
                    <a class="navbar-brand" href="#" style="font-size: 1.7rem;">PMC</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>

                            <% if(!(getCookie)) { %>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/signup">Signup</a>
                                </li>
                                <% } else {%>

                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="/logout">Log out</a>
                                    </li>
                        </ul>


                        <form action="/addproject" method="get" style="margin-right: 3%;">
                            <button class="btn btn-outline-success" type="submit">Add Product</button>
                        </form>
                        <% } %>

                    </div>
                </div>
            </nav>
        </div>



</body>

</html>